html  {
	height: 100%;
	width: 100%;
	font-size: 10;
	}

body {
	font-size: 10;
	font-family: "Roboto";
	background-color: #E53939;

}

header + .ui.grid{
	padding-top: 10rem;
}

.centered {
	z-index: 1;
	position: relative;
	justify-content: center;
	min-height:  40vh;
}

.pressed {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

/*.button  {
	border: .2rem solid black;
	border-radius: .5rem;
	margin: 1rem;
	font-size: 1.5rem;
	padding: 1rem .5rem;
	transition: all .07s ease;
	width: 10rem;
	text-align: center;
	color: white;
	background: rgba(0,0,0,0.4);
	text-shadow: 0 0 .5rem black;
}*/

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}